language: node_js

node_js:
  - "12"

cache:
  directories:
    - "build"
    - "coverage"
    - "node_modules"
    - "$HOME/.sonar/cache"

stages:
  - setup
  - lint
  - test
  - build
  - sonar
  - deploy

jobs:
  include:
    - stage: setup
      script:
        - npm i
    - stage: lint
      script:
        - npm run lint
    - stage: test
      script:
        - npm run coverage
    - stage: build
      script:
        - npm run build
    - stage: sonar
      script:
        - sonar-scanner
      addons:
        sonarcloud:
          organization: "skaleb"
          token: "$SONAR_API_KEY"
    - stage: deploy
      deploy:
        provider: heroku
        api_key: "$HEROKU_API_KEY"
        app: "phb-phonebook-api"
        skip_cleanup: true
